.fw-regular {
  font-weight: $font-weight-regular;
}

.fw-semibold {
  font-weight: $font-weight-semi-bold;
}

.fw-bold {
  font-weight: $font-weight-bold;
}

.fw-extra-bold {
  font-weight: $font-weight-extra-bold;
}

.ff-body {
  font-family: $default-font-family;
}

.ff-heading {
  font-family: $headings-font-family;
}

.fs-xs {
  font-size: $font-size-xs;
}

.fs-sm {
  font-size: $font-size-sm;
}

.fs-default {
  font-size: $default-font-size;
}

.fs-lg {
  font-size: $font-size-lg;
}

.fs-xl {
  font-size: $font-size-xl;
}

.fs-xxxl {
  font-size: $font-size-xxxl;
}

.text-transform {

  &-initial {
    text-transform: initial;
  }
}

.text-pre-line {
  white-space: pre-line;
}

.text-decoration {

  &-none {
    text-decoration: none;
  }

  &-underline {
    text-decoration: underline;
  }
}
