// Font Weight
$font-weight-thin: 100 !important;
$font-weight-extra-light: 200 !important;
$font-weight-light: 300 !important;
$font-weight-regular: 400 !important;
$font-weight-medium: 500 !important;
$font-weight-semi-bold: 600 !important;
$font-weight-bold: 700 !important;
$font-weight-extra-bold: 800 !important;
$font-weight-black: 900 !important;

// Font Size
$font-size-xs: .75rem !important; // 12px
$font-size-sm: .875rem !important; // 14px
$default-font-size: 1rem !important; // 16px
$font-size-lg: 1.125rem !important; // 18px
$font-size-xl: 1.25rem !important; // 20px
$font-size-xxl: 1.5rem !important; // 24px
$font-size-xxxl: 1.875rem !important; // 30px

// Font Family
$default-font-family: "Montserrat", sans-serif;
$inter-font-family: "Inter", sans-serif;

// Headings
$headings-font-family: $default-font-family;
$headings-font-weight: $font-weight-bold;
$headings-color: $black;

// Heading size
$h1-font-size: 1.5rem; // 24px
$h2-font-size: 1.25rem; // 20px
$h3-font-size: 1.125rem; // 18px
$h4-font-size: .875rem; // 14px
$h5-font-size: .675rem; // 11px
$h6-font-size: .5rem; // 8px

// CSS

:root {
  --font-weight-thin: #{$font-weight-thin};
  --font-weight-extra-light: #{$font-weight-extra-light};
  --font-weight-light: #{$font-weight-light};
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-semi-bold: #{$font-weight-semi-bold};
  --font-weight-bold: #{$font-weight-bold};
  --font-weight-extra-bold: #{$font-weight-extra-bold};
  --font-weight-black: #{$font-weight-black};

  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --h1-font-size: #{$h1-font-size};
  --h2-font-size: #{$h2-font-size};
  --h3-font-size: #{$h3-font-size};
  --h4-font-size: #{$h4-font-size};

  --headings-font-family: #{$headings-font-family};
  --headings-font-weight: #{$headings-font-weight};
  --headings-color: #{$headings-color};

  --inter-font-family:#{$inter-font-family};
}

