.list {
  background-color: var(--ion-color-tertiary);
  margin-top: 20px;
  border-radius: 20px;
  padding: 0;
}

ion-avatar {
  height: 70px;
  width: 70px;

  ion-img{
    border-radius: 0px !important;
  }
}

