<ion-content class="no-scroll ion-padding">
  <div class="container">
    <app-title-auth-pages
            title="Recuperação de senha"
            subtitle="Não se preocupe! Isso acontece. Preencha com o endereço de e-mail vinculado à sua conta.">
    </app-title-auth-pages>
    <form>
      <ion-input class="custom"
                 label="E-mail"
                 labelPlacement="floating"
                 placeholder="email@email.com"
                 type="email" required></ion-input>
      <ion-button color="dark" expand="block" [routerLink]="['']">Enviar</ion-button>
      <ion-text class="ion-text-center">
        <p>
          Lembrou a senha?
          <ion-button class="text-link" fill="clear" [routerLink]="['/login']">
            Fazer login
          </ion-button>
        </p>
      </ion-text>
    </form>
  </div>
</ion-content>
