<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="ic-casa"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="treinos">
      <ion-icon name="ic-documento"></ion-icon>
      <ion-label>Treinos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="paredes">
      <ion-icon name="ic-agarra"></ion-icon>
      <ion-label>Paredes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="ic-pessoa"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
