<ion-content class="no-scroll ion-padding">
  <div class="container">
    <ion-img src="/assets/images/logo-horizontal.svg" class="img-logo"></ion-img>
    <ion-img src="/assets/images/img-banner-choose-login.png" class="img-banner"></ion-img>
    <ion-text class="ion-text-center ion-margin-bottom">
      <h1 class="fw-bold">
        Junte-se a galera! 🧗🏻‍♂️
      </h1>
      <p>
        Faça o login para explorar todos os boulders da nossa academia e ainda crie seus próprios e desafie a galera.
        Bora escalar? 👊🏻
      </p>
    </ion-text>
    <ion-button color="dark" expand="block" class="ion-margin-top" [routerLink]="['/sign-up']">Cadastrar</ion-button>
    <ion-text class="ion-text-center">
    <p>
      Já tem uma conta?
      <ion-button class="text-link" fill="clear" [routerLink]="['/login']">
        Fazer login
      </ion-button>
    </p>
    </ion-text>
  </div>
</ion-content>
