.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.img-logo {
  margin-bottom: 20px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

ion-input  {
  margin-bottom: 16px;
}
