.logo {
  width: 6.25em;
  height: 3;
  padding: .5rem;
}

.logo-raizen {
  color: var(--ion-color-danger-contrast);
  width: 2.3rem;
  height: 1rem;
  vertical-align: middle;
  margin-right: .5rem;
}
